* {
    background-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe UI';
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    color: #cfcece;
}

a > img:hover{
    opacity: 80%;
}